<!DOCTYPE html>
<html>
<h1>Marks Earned by Individual</h1>
<body>
    <form action = "http://localhost:5000/result" method = "POST">
        <table cols="2">
            <tr>
                <th>Name</th`> 
                <td><input type = "text" name = "Name" /></td>
            </tr>
            <tr>
                <th>Physics</th>
                <td><input type = "text" name = "Physics" /></td>
            </tr>
            <tr>
                <th>Chemistry</th>
                <td><input type = "text" name = "Chemistry" /></td>
            </tr>
            <tr>
                <th>Mathematics</th>
                <td><input type = "text" name = "Mathematics" /></td>
            </tr>
            <tr>
                <th>Total</th>
                <td><input type = "text" name = "Total" /></td>
            </tr>
            <tr>
                <td span="2"><input type = "submit" value = "submit" /></p>
            </tr>
    </form>
</body>
</html>
